#top {
    font-family: 'just another hand';font-size: 25px;color:#AE37E6;background-color:#FFFF94;
}

#picture {
    height:65px
}



body {
    border: 25px solid black;  margin: 0;
    height: 100vh;background-color:silver;
}


.back {
    background-color:rgba(0, 0,0,0)
}
.next{
    background-color:rgba(0, 0,0,0)
}

.none{
    background-color:rgba(0, 0,0,0)
}


#mook{
height: 350px;width:600px; ;  margin: 0; border: 20px solid white;
}


.space{
    height: 75px;font-size: 55px;;
}


#palet{
    height: 200px;width:500px;margin-right: -32%;border: 20px solid white;
}


#palet2{
    height: 200px;width:500px;margin-right: 1000%;border: 20px solid white;
}








#top {
    font-family: 'just another hand';font-size: 25px;color:#AE37E6;background-color:#FFFF94;
}

body {
    border: 30px solid black;  margin: 0; /* Remove default body margins */
    height: 100vh;
}


#picture {
    height:65px
}


.back {
    background-color:rgba(0, 0,0,0);border: 0cm;color: #AE37E6;
}
.next{
    background-color:rgba(0, 0,0,0);border: 0cm;color: #AE37E6;
}

.none{
    background-color:rgba(0, 0,0,0);border: 0cm;color: #AE37E6;
}


.yip{
   height: 60px;
}


.space4{
    height: 10px;
}



